.card {
    border: 1px solid rgba(0,0,0,0.05);
    &:hover {
        box-shadow: 0 0 14px rgba($color: black, $alpha:0.09);
    }
    .img{
        max-height: 215px;
        overflow: hidden;
    }
    h3{
        font-size: 1.35rem;
    }
}