$green-light: #96D9C6;
$green: #24A6A6;
$dark-purple: #111440;
$blue-soft: #48668B;
$blue: #253B59;

.card {
    position: relative;
    min-height: 220px;
    max-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.05);

    .row {
        padding: 20px;

        .promo {
            position: absolute;
            width: 25%;
            height: 15%;
            right: 0;
            top: 0;
            background-color: $dark-purple;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .card-body {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                color: $blue;
                text-transform: capitalize;
                font-size: 1.2rem;
            }

            .price {
                font-weight: bold;
                color: $green;
                font-size: 20px;
            }
        }

        .image {
            display: flex;
            align-items: center;
            justify-content: center;

            .chart {
                border-radius: 100%;
                overflow: hidden;
                width: 125px;
                height: 125px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 150%;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0 0 18px rgba($color: $dark-purple, $alpha:0.2);
    }

    @media(max-width:1200px) {
        .row {
            .image {
                .chart {
                    width: 85px;
                    height: 85px;
                }
            }
        }
    }
    @media(max-width:992px) {
        .row {
            .image {
                .chart {
                    width: 125px;
                    height: 125px;
                }
            }
        }
    }
    @media(max-width:450px) {
        .row{
            .image{
                .chart{
                    width:100px;
                    height: 100px;
                }
            }
        }
    }
}