<nav class="navbar-expand-lg">
    <div class="col-5 col-md-6 col-lg-4 logo"><p>Pupusas App</p></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">HOLA</span>
      </button>
    <div class=" col2 collapse navbar-collapse"  id="navbarText">
        <div class="navbar-nav">
        <div class="notif">
            <p>Bag X</p>
        </div>
        <div class="account">
            <p>Account</p>
        </div>
        <div class="change">
            <button class="btn btn-primary">Perfil</button>
        </div>
    </div>
    </div>
</nav>
