<nav class="navbar-expand-lg">
  <div class="col-5 col-md-6 col-lg-8 logo">
    <img src="assets/Gastro-ESA.png" alt="">
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="activeClass()"
  >
    <span class="navbar-toggler-icon x" #navIcon>
        <span class="line l1"></span>
        <span class="line l2"></span>
        <span class="line l3"></span>
    </span>
  </button>
  <div class="col2 collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav">
      <div class="notif" (click)="goToDash()">
        <img class="icons" src="assets/icons/shop.svg" />
        <p>Home</p>
      </div> 
      
      
      <div class="account" (click)="exit()" >
        <img class="icons" src="assets/icons/exit.svg">
        <p>Cerrar sesion</p>
      </div>
      <div class="change">
        <button class="btn btn-primary">Perfil</button>
      </div>
    </div>
  </div>
</nav>
