$green-light: #96D9C6;
$green: #24A6A6;
$dark-purple: #111440;
$blue-soft: #48668B;
$blue: #253B59;
.info {
    text-align: center;
    .circle {
     width: 100%;
     max-height: 200px;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     margin:20px 0 30px;
        img {
            max-width: 100%;
            
        }
    }
}
.contometer {
    justify-content: center;
    &>button{
        border: none;
        outline: none;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        display: flex;
        align-items: unset;
        justify-content: center;
        background-color: rgba($color:$blue-soft, $alpha:0.3);
        color: $blue;
        font-size: 18px;
        font-weight: bold;
        &:hover{
            background-color: rgba($color:$blue-soft, $alpha:0.5);
        }
    }
    .display{
        margin: 0 20px;
        color: $blue;
        font-size: 19px;
        font-weight: bold;
    }
}
.modal-footer{
    justify-content: space-between;
    .total{
        
        font-weight: bold;
        color: $dark-purple;
        span{
            display: block;
            font-size:12px;
        }
        .price{
            font-size: 20px;
        }
    }
}