<div class="info">
    <h3>{{ name }}</h3>
    <div class="circle">
    <img src="assets/images/pupusas.jpg">
  </div>
  </div>
     
  <div class="contometer d-flex">
    <button class="less" (click)="lessProduct()" [disabled]="cantProducto<1">-</button>
    <div class="display">{{ cantProducto }}</div>
    <button class="pluss" (click)="plussProduct()">+</button>
  </div>
  <div class="d-flex justify-content-between align-items-center">
  <div class="total">
    <span>Total</span>
    <p class="price">{{ price * cantProducto | currency}}</p>
  </div>
  <button type="button" class="btn btn-primary">Agregar</button>
</div>
