<div class="searching-bar">
  <div class="row">
    <div class="col-md-7 col-lg-6 text">
      <div>
        <h2>
          Encuentra restaurantes 100%
          <span class="salvadorean">Salvadoreños</span>
        </h2>

        <form class="form">
          <div class="search-bar">
            <input
              class="form-control input"
              name="search"
              id="search"
              placeholder="Busca aqui tu restaurante"
            />
            <button class="btn btn-primary">Buscar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-5 col-lg-6 images">
      <img src="assets/images/antojitos.jpg" alt="" />
    </div>
  </div>
</div>
