<div class="ticket">
<h3>Mi orden <span class="icons"><img class="icons" src="assets/icons/bill.svg" alt=""></span></h3>

<table class="table" *ngIf="pedido.length > 0; else noPedidos">
    <tbody>
      <tr *ngFor="let prod of pedido">
        <td class="remove">
            <span class="line l1"></span>
            <span class="line l2"></span>
        </td>
        <th scope="row">
            <input class="" >
        </th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noPedidos>
      <div class="noPedidos">
      <img src="assets/images/empty.png">
      <p>Aun no has ordenado nada :(</p>
    </div>
  </ng-template>
</div>