<div class="row">
  <div  cdkDrag class="ticketBoton" (click)="activeClass()" #boton>
    <img [src]="imageBoton" alt="">
  </div>
  <div class="col-md-8 col-lg-9 rest" #menu>
    <div class="jumbotron jumbotron-fluid" style=" background-image: url({{imageRestaurant}})">
      <h1>{{restaurant['name']}}</h1>
      <!-- Button trigger modal -->
    </div>
    <div class="p-20 menu" *ngIf="haveMenu; else noMenu">
      <div *ngIf="promotions">
        <h2 class="">Promociones</h2>
        <div class="row">
          <div
            *ngFor="let promo of promotions"
            class="col-12 col-lg-6 mb-5"
          >
            <a data-toggle="modal" data-target="#modalProduct" (click)="preSelectPromo(promo)">
              <div class="content">
                <app-promo name="{{ promo['name'] }}" price="{{ promo['totalPrice']}}" id="{{promo['id']}}"></app-promo>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="menus">

        <h2 class="">Menu</h2>

        <div class="row">

          <div *ngFor="let menu of menus; let i = index" class="col-12 col-lg-6 mb-5">
            <a data-toggle="modal" data-target="#modalProduct" (click)="preSelectMenu(menu)">
              <div class="content">
                <app-product id="{{menu['id']}}" price="{{menu['unitaryPrice']}}" name="{{ menu['productName']}}" image="{{ menu['imageURL']}}"></app-product>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <ng-template #noMenu>
      <div class="col-12 noMenu">
      <h3>Este restaurante no cuenta con menu!</h3>
      <p>Lo sentimos!</p>
      <img src="assets/images/comingSoon.jpg">
    </div>
    </ng-template>
  </div>
  <div class=" col-12 col-md-4 col-lg-3 ticket" #ticket>
    <app-ticket></app-ticket>
  </div>
</div>
  <!-- Modal PRODUCTOS -->
  <div
  *ngIf="selectedMenu || selectedPromo"
    class="modal fade"
    id="modalProduct"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalProductLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-button">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="unselectMenu()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-product-card *ngIf="selectedMenu; else ModalPromo" menu="{{haveMenu}}" id="{{ selectedMenu['id'] }}" price="{{ selectedMenu['unitaryPrice'] }}" name="{{ selectedMenu['productName'] }}" image="{{ selectedMenu['imageURL'] }}" ></app-product-card>
          <ng-template #ModalPromo>
            <app-promo-card id="{{selectedPromo['id']}}" name="{{selectedPromo['name']}}" price="{{selectedPromo['totalPrice']}}"></app-promo-card>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class=""></div> -->


  <!--Buy-card modal-->
  <div class="modal fade bd-example-modal-lg" id="buyCardModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transportistas autorizados</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-buy-card></app-buy-card>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyCardModal"
          (click) = "realizarPedido()"
          >Realizar pedido</button>
        </div>
      </div>
    </div>
  </div>


