$green-light: #96D9C6;
$green: #24A6A6;
$dark-purple: #111440;
$blue-soft: #48668B;
$blue: #253B59;

.jumbotron {
    min-height: 350px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    align-items: center;
    position: relative;
    background-color: $dark-purple;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color:$dark-purple, $alpha:0.2);
    }

    h1 {
        color: white;
        font-weight: bold;
        z-index: 2;
    }
    @media (max-width:600px) {
        background-position: center;
    }
}

h2 {
    position: relative;
    margin-bottom: 40px;

    &::after {
        content: "";
        position: absolute;
        width: 25%;
        height: 4px;
        left: 0;
        bottom: -8px;
        background-color: #24A6A6;
        @media(max-width:1200px){
            width: 35%;
        }
        @media(max-width:992px){
            width: 50%;
        }
        @media(max-width:768px){
            width: 40%;
        }
        @media(max-width:600px){
            width: 60%;
        }
    }
}

a {
    cursor: pointer;
}

.noMenu {
    text-align: center;

    h3 {
        color: $dark-purple;
    }

    p {
        color: $blue-soft;
        font-weight: bold;
    }

    img {
        max-width: 100%;
        height: 400px;
    }
}

.modal {
    .close-button {
        display: flex;
        justify-content: flex-end;
        padding: 5px;

        button {
            display: inline-block;
        }
    }
}

.ticket {
    // background-color: pink;
    position: fixed;
    height: 100vh;
    padding: 0;
    right: 0;
}