<div class="row">
  <div class="col-md-7 col-lg-9 rest">
    <div class="jumbotron jumbotron-fluid" style=" background-image: url('assets/images/wood.jpg')">
      <h1>Restaurante #1</h1>
      <!-- Button trigger modal -->
    </div>
    <div class="p-20 menu" *ngIf="haveMenu; else noMenu">
      <div *ngIf="promotions">
        <h2>Promociones</h2>
        <div class="row">
          <div
            *ngFor="let promo of promotions"
            class="col-12 col-lg-6 mb-5"
          >
            <a data-toggle="modal" data-target="#modalProduct">
              <div class="content">
                <app-promo name="{{ promo['name'] }}" price="{{ promo['totalPrice']}}" id="{{promo['id']}}"></app-promo>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="menus">

        <h2 class="mb-4">Menu</h2>

        <div class="row">

          <div *ngFor="let menu of menus; let i = index" class="col-12 col-lg-6 mb-5">
            <a data-toggle="modal" data-target="#modalProduct" (click)="preSelectMenu(menu)">
              <div class="content">
                <app-product id="{{menu['id']}}" price="{{menu['unitaryPrice']}}" name="{{ menu['productName']}}"></app-product>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <ng-template #noMenu>
      <div class="col-12 noMenu">
      <h3>Este restaurante no cuenta con menu!</h3>
      <p>Lo sentimos!</p>
      <img src="assets/images/comingSoon.jpg">
    </div>
    </ng-template>
  </div>
  <div class="d-none d-md-block col-md-5 col-lg-3 ticket">
    <app-ticket></app-ticket>
  </div>

  <!-- Modal -->
  <div
  *ngIf="selectedMenu"
    class="modal fade"
    id="modalProduct"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalProductLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-button">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="unselectMenu()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-product-card id="{{ selectedMenu['id'] }}" price="{{ selectedMenu['unitaryPrice'] }}" name="{{ selectedMenu['productName'] }}" ></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
