/* You can add global styles to this file, and also import other style files */
$green-light: #96D9C6;
$green: #24A6A6;
$dark-purple: #111440;
$blue-soft: #48668B;
$blue: #253B59;


// Fonts
$open: 'Open Sans', sans-serif;
$yeseva : 'Yeseva One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&family=Yeseva+One&display=swap');
.btn{
    padding: 8px 40px;
    @media(max-width:500px){
        padding: 8px 20px;
    }
}
.btn-primary{
background-color:$blue;
border-color: $blue;
}
.btn-primary:hover, .btn-primary:focus{
    background-color:$dark-purple;
    border-color: $dark-purple;
    }
.shine{
    color: $dark-purple;
    font-weight: bold;
}

label{
    color: $blue-soft;
    font-size: 14px;
    margin-bottom: 0;
}
.input {
    border: none;
    border-bottom: 2px solid $green-light;
    border-radius: 0;
    outline: none !important;
    width: 95%;
    padding: 0 .75rem!important;
}
.alert-icon{
    
    img{
        width: 15px;
        height: 15px;
        vertical-align: text-top;
        margin-left: 10px;
    }
}
.p-20{
    padding-left: 20px;
    padding-right: 20px;
}